#container{
  display:table;
  margin-top:100px;
}

#loginForm, #signinForm{
  width:500px;
  display:table-cell;
  text-align:center;
}
form{
  display:block;
  margin:0 auto;
}
#login_header{
  line-height:60px;
}
#loginForm .info{
  padding-top:70px;
  padding-bottom:30px;
}
#signinForm .info{
  padding-top:30px;
  padding-bottom:70px;
}
.form_wrap{
  padding-top:20px;
  padding-bottom:50px;
}
.input_wrap{
  margin:0 auto;
  margin-bottom:20px;
  background-color:#eff4e7;
  width:230px;
  padding-left:10px;
  padding-right:10px;
  padding-top:10px;
  padding-bottom:10px;
}
.input_wrap input{
  width:100%;
  background-color:#eff4e7;
  border:none;
}
.login .submit_btn{
  font-family:sans-serif;
  border:none;
  background-color:#F9D3C0;
  font-size:15px;
  width:250px;
  padding-top:10px;
  padding-bottom:10px;
  margin-top:15px;
  margin-bottom:50px;
}

#signinForm{
  background-color:#F9D3C0;
  vertical-align: middle;
}


.login .signin_btn{
  font-family:sans-serif;
  border:3px solid #333;
  background-color:#333;
  color:white;
  font-size:16px;
  width:250px;
  border-radius: 50px;
  padding-top:15px;
  padding-bottom:15px;
  margin-bottom:50px;
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
	#container{
	width:100%;
	}
}
/*phone*/
@media screen and (max-width:599px){
  #container{
  margin-top:0px;
	width:100%;
	}
  #loginForm{
    width:100%;
  }
  #loginForm .info{
  padding-top:50px;
}
  #signinForm{
    display:none;
  }
}
